[Unit]
Description=Runs backups of my folders.
After=network.target

[Service]
WorkingDirectory=/home/mic/python/backups/backups/celery
ExecStart=/usr/bin/celery -A celery beat --loglevel=INFO
User=mic
Group=mic
Type=simple

[Install]
WantedBy=multi-user.target
